<footer class="footer">
  <div class="footer__content">
    <h1 class="footer__title">This footer shouldn't be here</h1>
    <p class="footer__copyright">Company name &copy; 2024</p>
  </div>

  <div class="footer__social-icons">
    <i class="bi bi-facebook footer__icon"></i>
    <i class="bi bi-twitter-x footer__icon"></i>
    <i class="bi bi-instagram footer__icon"></i>
  </div>
</footer>

<style>
  .footer{
    background-color: var(--color--footer);
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }

  .footer__title{
    font-size: 2rem;
    font-weight: 500;
  }

  .footer__copyright{
    font-size: 1.2rem;
  }

  .footer__social-icons{
    display: flex;
    gap: 1rem;
  }

  .footer__icon{
    font-size: 1.7rem;
    background-color: var(--color--icons);
    padding: 0.1rem 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.75);
    cursor: pointer;
  }
</style>
