<footer class="footer">
    <div class="footer__content">
      <div class="footer__social">
        <img src="" alt="Icono">
        <h3 class="footer__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem minima, consectetur beatae
          accusantium error tenetur ex</h3>
      </div>
  
      <div class="footer__explore">
        <h1 class="footer__explore-title">Explorar</h1>
        <a href="" class="footer__link">Inicio</a>
        <a href="" class="footer__link">Sobre nosotros</a>
        <a href="" class="footer__link">Servicios</a>
      </div>
  
      <div class="footer__contact">
        <h1 class="footer__contact-title">Contactos</h1>
        <p class="footer__contact-email">TCU&#64;gmail.com</p>
        <p class="footer__contact-phone">+506 8888-9999</p>
        <p class="footer__contact-address">Frente a los tribunales de justicia Turrialba</p>
      </div>
    </div>
  
    <div class="footer__info">
      <p class="footer__copyright">Company name &copy; 2024</p>
      <div class="footer__social-icons">
        <i class="bi bi-facebook footer__icon"></i>
        <i class="bi bi-twitter-x footer__icon"></i>
        <i class="bi bi-instagram footer__icon"></i>
      </div>
    </div>
  </footer>