<footer class="footer">
  <div class="footer__content">
    <div class="footer__social">
      <i class="bi bi-facebook footer__social-icon"></i>
      <h3 class="footer__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem minima, consectetur beatae
        accusantium error tenetur ex</h3>
    </div>

    <div class="footer__explore">
      <h1 class="footer__explore-title">Explorar</h1>
      <a href="" class="footer__link">Inicio</a>
      <a href="" class="footer__link">Sobre nosotros</a>
      <a href="" class="footer__link">Servicios</a>
    </div>

    <style>
      :host {
        width: 100%;
      }

      .footer {
        background-color: var(--color--footer);
        padding: 1rem 1rem 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        width: 100%;
        flex-direction: column;
      }

      /* .footer__title {
        font-size: 2rem;
        font-weight: 500;
      }

      .footer__copyright {
        font-size: 1.2rem;
      } */

      .footer__social-icons {
        display: flex;
        gap: 1rem;
      }

      .footer__icon {
        font-size: 1.7rem;
        background-color: var(--color--icons);
        padding: 0.1rem 0.5rem;
        border-radius: 0.3rem;
        box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75);
        cursor: pointer;
      }

      .footer__info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--color-primary);
        padding-top: 1rem;
      }

      .footer__content{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .footer__social{
        flex-basis: 30%;
      }

      .footer__social{
        flex-basis: 30%;
      }

      .footer__contact{
        flex-basis: 30%;
      }
    </style>

    <div class="footer__contact">
      <h1 class="footer__contact-title">Contactos</h1>
      <p class="footer__contact-email">TCU&#64;gmail.com</p>
      <p class="footer__contact-phone">+506 8888-9999</p>
      <p class="footer__contact-address">Frente a los tribunales de justicia Turrialba</p>
    </div>
  </div>

  <div class="footer__info">
    <p class="footer__copyright">Company name &copy; 2024</p>
    <div class="footer__social-icons">
      <i class="bi bi-facebook footer__icon"></i>
      <i class="bi bi-twitter-x footer__icon"></i>
      <i class="bi bi-instagram footer__icon"></i>
    </div>
  </div>
</footer>
