<footer class="footer">
  <div class="footer__content">
    <div class="footer__social">
      <img class="footer__logo" src="assets/logo.webp" alt="Icono">
      <h3 class="footer__title">Dotando herramientas para la gestión de tu negocio</h3>
    </div>

    <div class="footer__explore">
      <h1 class="footer__explore-title">Explorar</h1>
      <a routerLink="/home" routerLinkActive="active-link">Inicio</a>
      <a routerLink="/aboutUs" routerLinkActive="active-link" >Sobre
        nosotros</a>
      <a routerLink="/contact" class="footer__link">Contacto</a>
    </div>

    <div class="footer__contact">
      <h1 class="footer__contact-title">Contactos</h1>
      <p class="footer__contact-email">tcu768web&#64;gmail.com</p>
      <p class="footer__contact-phone">2511 9228</p>
      <p class="footer__contact-address">Frente a los tribunales de justicia Turrialba</p>
    </div>
  </div>

  <div class="footer__info">
    <p class="footer__copyright">Company name &copy; {{year}}</p>
    <div class="footer__social-icons">
      <a href="https://www.facebook.com/profile.php?id=100082053260381" target="_blank">
        <i class="bi bi-facebook footer__icon"></i>
      </a>

      <a href="https://www.instagram.com/tc768_gestionando_tu_empresa/" target="_blank">
        <i class="bi bi-instagram footer__icon"></i>
      </a>


    </div>
  </div>
</footer>
