<nav class="navbar">
  <img src="../../../assets/Logo2.png" alt="Logo" class="navbar__logo">
  <ul class="navbar__links" [ngClass]="{ 'navbar__links--active': isNavbarActive }">
    <li class="navbar__item"><a routerLink="/home" routerLinkActive="active-link" (click)="closeNavbar()"
        class="navbar__link">Home</a></li>
    <li class="navbar__item"><a routerLink="/aboutUs" routerLinkActive="active-link" (click)="closeNavbar()"
        class="navbar__link">Sobre nosotros</a>
    </li>
    <li class="navbar__item"><a routerLink="/contact" routerLinkActive="active-link" (click)="closeNavbar()"
        class="navbar__link">Contacto</a></li>
    <li class="navbar__item"><a routerLink="/resources" routerLinkActive="active-link" (click)="closeNavbar()"
        class="navbar__link">Recursos</a></li>
  </ul>
  <div class="navbar__hamburger" (click)="toggleNavbar()">
    <div class="navbar__hamburger-line"></div>
    <div class="navbar__hamburger-line"></div>
    <div class="navbar__hamburger-line"></div>
  </div>
</nav>




<!-- <nav class="navbar">
  <img src="../../../assets/Logo2.png" alt="Logo" class="navbar__logo">
  <ul class="navbar__links" [ngClass]="{ 'navbar__links--active': isNavbarActive }">
    <li class="navbar__item"><a routerLink="/home" routerLinkActive="active-link" (click)="closeNavbar()"
        class="navbar__link">Home</a></li>
    <li class="navbar__item"><a routerLink="/aboutUs" routerLinkActive="active-link" (click)="closeNavbar()"
        class="navbar__link">Sobre nosotros</a>
    </li>
    <li class="navbar__item"><a routerLink="/contact" routerLinkActive="active-link" (click)="closeNavbar()"
        class="navbar__link">Contacto</a></li>
    <li class="navbar__item"><a routerLink="/resources" routerLinkActive="active-link" (click)="closeNavbar()"
        class="navbar__link">Recursos</a></li>
  </ul>

</nav>

<div class="navbar__hamburger" (click)="toggleNavbar()">
  <div class="navbar__hamburger-line"></div>
  <div class="navbar__hamburger-line"></div>
  <div class="navbar__hamburger-line"></div>
</div> -->
