<nav class="navbar" [ngClass]="{ 'fixed-navbar': isNavbarFixed, 'active-navbar': isNavbarActive }">
  <div class="navbar-logo">
    <img src="../../../assets/logo.webp" alt="Logo">
  </div>
  <div class="navbar-links" [ngClass]="{ 'active-navbar': isNavbarActive }">
    <li class="navbar-item"><a routerLink="/home" routerLinkActive="active-link" (click)="closeNavbar()">Inicio</a></li>
    <li class="navbar-item"><a routerLink="/aboutUs" routerLinkActive="active-link" (click)="closeNavbar()">Sobre
        nosotros</a></li>
    <li class="navbar-item"><a routerLink="/contact" routerLinkActive="active-link" (click)="closeNavbar()">Contacto</a>
    </li>
  </div>
  <div class="navbar-hamburger" (click)="toggleNavbar()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>
