<nav class="navbar" [ngClass]="{ 'fixed-navbar': isNavbarFixed, 'active-navbar': isNavbarActive }">
  <div class="navbar-logo">
    <img src="../../../assets/Logo2.png" alt="Logo">
  </div>
  <div class="navbar-links" [ngClass]="{ 'active-navbar': isNavbarActive }">
    <a routerLink="/home" routerLinkActive="active-link" (click)="closeNavbar()">Home</a>
    <a routerLink="/aboutUs" routerLinkActive="active-link" (click)="closeNavbar()">Sobre nosotros</a>
    <a routerLink="/contact" routerLinkActive="active-link" (click)="closeNavbar()">Contacto</a>
    <a routerLink="/resources" routerLinkActive="active-link" (click)="closeNavbar()">Recursos</a>
  </div>
  <div class="navbar-hamburger" (click)="toggleNavbar()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>