<div class="container">
  <app-nav-falso></app-nav-falso>

  <main class="about">
    <div class="about__image">
      <img src="" alt="Hola" class="about__image-content">
    </div>

    <style>
      .about{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }

      .about__image, .about__content{
        width: 50%;
      }

      .about__image{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .about__content{
        width: 50%;
        padding: 0 5rem;
        text-align: left;
        text-wrap: balance;

        font-size: 1.5rem;
        color: var(--color-text);
        font-weight: 600;
      }

      .about__title{
        font-size: 2.5rem;
        text-align: left;
        text-wrap: balance;
        color: var(--color-text);
        font-weight: 600;
      }
    </style>
    <div class="about__content">
      <h1 class="about__title">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h1>
      <p class="about__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque voluptatum exercitationem tenetur ab, architecto hic rem dolor dolorem quibusdam aspernatur excepturi, cum nobis commodi repudiandae, labore beatae cupiditate numquam veniam?</p>
    </div>
  </main>

  <app-footer></app-footer>
</div>
