<div class="container">
  <app-nav-falso></app-nav-falso>

  <main class="about">
    <div class="about__image">

      @defer {
        <img src="" alt="sd" class="about__image-content">
      } @placeholder {
        <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h1>
      <p class="about__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque voluptatum exercitationem tenetur ab, architecto hic rem dolor dolorem quibusdam aspernatur excepturi, cum nobis commodi repudiandae, labore beatae cupiditate numquam veniam?</p>
    </div>
  </main>

  <app-footer></app-footer>
</div>
