/* Estilos adicionales para flexbox */
.flex-container {
  display: flex;
  justify-content: space-between;
}

.text-content {
  flex: 1; /* El contenido de texto ocupará el espacio restante */
  padding-right: 20px; /* Espaciado derecho para separar la imagen del texto */
}

.image-container {
  flex-shrink: 0; /* La imagen no se reducirá en tamaño */
}

.home-container {
  padding: 100px;
}