<div class="main-section">
  <div class="image-section">
    <div class="image-container">
      <div class="text-overlay">
        <h1>Bienvenidos al TC-768</h1>
        <p>
          Apoyo y Fortalecimiento del sector empresarial del cantón de Turrialba</p>
        <p>Gestionando tu empresa</p>
      </div>
      <img src="assets/home.webp" alt="TC Image" class="image-cover">
    </div>
  </div>
  <!-- Activities Section -->
  <div class="activities-section">
    <div class="section-title">
      <h2>Actividades</h2>
    </div>
    <div class="card-container">
      @if (activities$ | async; as resultObject) {
      @for (activity of resultObject; track $index) {
      <app-card [card]="activity" (showDetailsChange)="onDetailsChange($event)"></app-card>
      }
      }
    </div>
  </div>
</div>
