/* Estilos adicionales para flexbox */
.flex-container {
  display: flex;
  justify-content: space-between;
}

.text-content {
  flex: 1; /* El contenido de texto ocupará el espacio restante */
  padding-right: 20px; /* Espaciado derecho para separar la imagen del texto */
}

.homeSectionImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.home-container {
  width: 100vw;
}

/* Estilos generales */
.generalInformation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: lightblue;
}

/* Estilos específicos para cada sección de información */
.info1,
.info2,
.info3,
.info4 {
  flex: 0 0 40%; /* Cada sección ocupa inicialmente el 48% del ancho del contenedor */
  margin-bottom: 20px; /* Espaciado entre las secciones */
}

/* Estilos adicionales para flexbox */
.info1, .info2, .info3, .info4 {
  display: flex;
  flex-direction: column;
}

.homeSectionImage {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.title {
  margin-top: 10px; /* Espaciado entre la imagen y el título */
  text-align: center;
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 767px) {
  .info1, .info2, .info3, .info4 {
    flex: 0 0 100%; /* Cada sección ocupa el 100% del ancho en pantallas más pequeñas */
  }
}

@media (max-width: 1024px) {
  .flex-container {
    flex-direction: column-reverse; /* Cambiar la dirección del contenedor a columna inversa */
  }

  .text-content {
    padding: 20px; /* Agregar un espaciado uniforme alrededor del contenido de texto en móviles */
  }
}