<main class="about">

  <section class="about__us section__white">
    <div class="about__image">
      @defer {
      <img src="" alt="sd" class="about__image-content">
      } @placeholder {
      <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">¿Quiénes somos?</h1>
      <p class="about__description">TC - 768: Apoyo y Fortalecimiento al Sector Empresarial del Cantón de Turrialba; Microempresas, Mujeres Emprendedoras, Asociaciones y Organizaciones.
      </p>
      <p class="about__leader">Liderado por: MGP. Andrea Cedeño Ramírez</p>
      <p class="about__leader-information">Docente, coordinadora de la carrera de Contaduría Pública en la Sede del
        Atlántico y encargada del proyecto TC - 768.</p>
    </div>
  </section>

  <section class="about__project section__color">
    <div class="about__image">
      @defer {
      <img src="" alt="sd" class="about__image-content">
      } @placeholder {
      <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">Descripción del proyecto</h1>
      <p class="about__description">Este proyecto pretende fortalecer el sector de la microempresa, mujeres emprendedoras y organizaciones comunales, localizadas en el área de influencia del Recinto de Turrialba , a través de talleres, los cuáles contribuyan al mejoramiento de la gestión empresarial y potencialicen las fortalezas de cada negocio para lograr un mayor crecimiento.</p>
    </div>
  </section>


  <section class="about__impact section__white">
    <div class="about__image">
      @defer {
      <img src="" alt="sd" class="about__image-content">
      } @placeholder {
      <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">Impacto del proyecto</h1>
      <p class="about__description">Promover una cultura de buenas prácticas en la gestión empresarial, a través de la adquisición de nuevos conocimientos y herramientas del área de administración de negocios, además, el desarrollo de nuevas habilidades como el manejo de dispositivos tecnológicos, programas, aplicaciones, entre otros.
        <br>
        Con lo anterior, se espera obtener mejores resultados en cada microempresa, como:
      </p>
      <ul class="about__list">
        <li class="about__item">&#8226; Mejoramiento de la gestión empresarial.</li>
        <li class="about__item">&#8226; Contribuir a un mayor progreso socioeconómico en la población del cantón de Turrialba.
        </li>
      </ul>
    </div>
  </section>



  <section class="about__achieved section__color">
    <div class="about__image">
      @defer {
      <img src="" alt="sd" class="about__image-content">
      } @placeholder {
      <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">¿Cómo lo logramos?</h1>
      <p class="about__description">A través de talleres y charlas, una vez identificadas sus necesidades, lo cual les
        permitirá la adquisición de nuevos conocimientos y herramientas para la gestión empresarial de su negocio.
      </p>
      <p class="about__info">En total hay 25 empresas:</p>
      <ul class="about__list">
        <li class="about__item">&#8226; Micro y pequeños empresarios.</li>
        <li class="about__item">&#8226; Organizaciones comunales.</li>
        <li class="about__item">&#8226; Mujeres emprendedoras.</li>
      </ul>
    </div>
  </section>


  <section class="about__objective-general section__white">
    <div class="about__image">
      @defer {
      <img src="" alt="sd" class="about__image-content">
      } @placeholder {
      <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">Objetivo General</h1>
      <p class="about__description">Apoyar al sector empresarial, a través de talleres y charlas que doten de
        herramientas y conocimientos a la población beneficiada para la solución de problemas y necesidades previamente
        identificados para promover una mejor gestión empresarial.</p>
    </div>
  </section>


  <section class="about__objective-specific section__color">
    <div class="about__image">
      @defer {
      <img src="" alt="sd" class="about__image-content">
      } @placeholder {
      <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">Objetivos Específicos</h1>
      <ul class="about__list">
        <li class="about__item">
          &#8226; Diagnosticar las necesidades de los microempresarios, emprendedoras, asociaciones y organizaciones comunales,
          a través de la implementación de cuestionarios y entrevistas que permitan la delimitación de las principales
          líneas de acción, de acuerdo con su actividad productiva para mejorar su gestión empresarial.
        </li>
        <li class="about__item">
          &#8226; Realizar talleres y charlas dirigidos a los microempresarios, mujeres emprendedoras y organizaciones comunales
          para el mejoramiento en su gestión empresarial ante las necesidades previamente identificadas.
        </li>
        <li class="about__item">
          &#8226; Elaborar un manual a través de la recopilación de información obtenida en las charlas y talleres, que sirva a los participantes beneficiados como referencia sobre el tema de buenas prácticas empresariales según su línea de acción.
        </li>
      </ul>
    </div>
  </section>

  <style>
    .about__timeline {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  </style>

  <section class="about__timeline section__white">
    <h1 class="about__title">Línea de tiempo de las actividades, metas, hitos y logros del TCU</h1>
    <p class="about__description">A continuación se muestra una línea de tiempo de las diferentes actividades, metas, hitos y logros que ha obtenido este TCU</p>
    <app-timeline></app-timeline>
  </section>



  <section class="about__projects section__white">
    <div class="projects__description">
      <h1 class="projects__description-title">Proyectos</h1>
      <p class="projects__description-text">A continuación, se presenta un listado de los proyectos desarrollados en el TCU. Estos proyectos han sido realizados con el objetivo de fomentar el desarrollo de nuestra comunidad.</p>
    </div>
    @defer {
    <app-carousel-projects></app-carousel-projects>
    } @placeholder {
    <span class="spinner"></span>
    }
  </section>


</main>
