:host {
  width: 100%;
}

.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0;
  gap: 5rem;
}

.about__objective-specific,
.about__objective-general,
.about__achieved,
.about__impact,
.about__project,
.about__us {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 3rem 0;
}

.about__vision {
  background-color: var(--color-secondary);
}

.about__image,
.about__content {
  width: 50%;
}

.about__image-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
}

.about__content {
  width: 50%;
  padding: 0 5rem;
  text-align: left;
  text-wrap: balance;

  font-size: 1.5rem;
  color: var(--color-text);
  font-weight: 600;
}

.about__title {
  display: inline-block;
  font-size: 2rem;
  text-align: left;
  text-wrap: balance;
  color: var(--color-text);
  font-weight: bold;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid var(--color-secondary);
}

.section__color{
  background-color: var(--color-secondary);
}

.section__white{
  background-color: var(--color-primary);
  color: black;
}

.section__color .about__description,
.section__color .about__list,
.section__color .about__info{
  color: white;
}

.section__color .about__title{
  color: white;
  border-bottom: 2px solid white;
}

.about__description {
  font-size: 1.5rem;
  font-weight: lighter;
}

.carousel__description {
  font-size: 1.5rem;
  font-weight: lighter;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  border-top: 2px solid var(--color-primary);
  animation: spin 1s linear infinite;
}

.about__vision .about__title,
.about__vision .about__description {
  color: var(--color-primary);
}

.about__projects {

  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-secondary);
  flex-direction: column;
}

.projects__description {
  padding: 2rem 1rem;
}

.projects__description-title {
  font-size: 2rem;
  text-align: center;
  text-wrap: balance;
  color: var(--color-primary);
  font-weight: bold;
  padding-bottom: 1rem;
}

.projects__description-text {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--color-primary);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 800px) {

  /* .about {
    padding: 1rem;
  } */

  /* .about__image,
  .about__content {
    width: 100%;
  }

  .about__mission,
  .about__vision,
  .about__objectives {
    flex-direction: column;
    gap: 4rem;
    margin-top: 2rem;
  }

  .about__content {
    width: 100%;
    padding: 0 1rem;
  } */
  .about__content {
    width: 100%;
    padding: 0 1rem;
  }

  .about__title{
    width: 100%;
    text-align: center;
  }

  .about__description{
    width: 100%;
    text-align: left;
  }

  .about__objective-specific,
.about__objective-general,
.about__achieved,
.about__impact,
.about__project,
.about__us {
  flex-direction: column;
}
}
