<main class="about">

  <section class="about__mission">
    <div class="about__image">

      @defer {
      <img src="" alt="sd" class="about__image-content">
      } @placeholder {
      <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">Mision</h1>
      <p class="about__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, incidunt commodi!
        Illum dicta minima eaque, cupiditate consequatur accusamus, sequi obcaecati quos saepe nisi perferendis id
        fuga nesciunt! Totam, repellendus aliquid!
        Ducimus fugit nihil, animi repellat consequatur earum magnam amet illum totam labore maiores facilis impedit
        at voluptatibus, molestias, ipsa reiciendis eius rem qui accusamus atque laboriosam. Eligendi cum libero
        debitis?
        Hic sapiente, voluptates corporis accusantium accusamus temporibus nisi? Quidem officiis sapiente aliquid
        odio, ipsum voluptas itaque pariatur doloribus laboriosam officia? Autem labore a ratione velit delectus,
        debitis quam error similique!</p>
    </div>
  </section>

  <section class="about__vision">
    <div class="about__image">

      @defer {
      <img src="" alt="sd" class="about__image-content">
      } @placeholder {
      <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">Vision</h1>
      <p class="about__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, incidunt commodi!
        Illum dicta minima eaque, cupiditate consequatur accusamus, sequi obcaecati quos saepe nisi perferendis id
        fuga nesciunt! Totam, repellendus aliquid!
        Ducimus fugit nihil, animi repellat consequatur earum magnam amet illum totam labore maiores facilis impedit
        at voluptatibus, molestias, ipsa reiciendis eius rem qui accusamus atque laboriosam. Eligendi cum libero
        debitis?
        Hic sapiente, voluptates corporis accusantium accusamus temporibus nisi? Quidem officiis sapiente aliquid
        odio, ipsum voluptas itaque pariatur doloribus laboriosam officia? Autem labore a ratione velit delectus,
        debitis quam error similique!</p>
    </div>
  </section>

  <section class="about__objectives">
    <div class="about__image">

      @defer {
      <img src="" alt="sd" class="about__image-content">
      } @placeholder {
      <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">Objetivos</h1>
      <p class="about__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, incidunt commodi!
        Illum dicta minima eaque, cupiditate consequatur accusamus, sequi obcaecati quos saepe nisi perferendis id
        fuga nesciunt! Totam, repellendus aliquid!
        Ducimus fugit nihil, animi repellat consequatur earum magnam amet illum totam labore maiores facilis impedit
        at voluptatibus, molestias, ipsa reiciendis eius rem qui accusamus atque laboriosam. Eligendi cum libero
        debitis?
        Hic sapiente, voluptates corporis accusantium accusamus temporibus nisi? Quidem officiis sapiente aliquid
        odio, ipsum voluptas itaque pariatur doloribus laboriosam officia? Autem labore a ratione velit delectus,
        debitis quam error similique!</p>
    </div>
  </section>


  <app-timeline></app-timeline>


  <section class="about__projects">
    <div class="projects__description">
      <h1 class="projects__description-title">Proyectos</h1>
      <p class="projects__description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas cum expedita
        ex molestiae deserunt, tempore rem dicta nesciunt aut quia tenetur asperiores eveniet at, debitis laudantium in
        quidem, sapiente qui.</p>
    </div>
    <app-carousel-projects></app-carousel-projects>
  </section>


</main>
