<main class="about">

  <section class="about__mission">
    <div class="about__image">

      @defer {
      <img src="" alt="sd" class="about__image-content">
      } @placeholder {
      <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">Quiénes somos</h1>
      <p class="about__description">TC - 768: APOYO  Y  FORTALECIMIENTO   AL  SECTOR EMPRESARIAL DEL CANTÓN DE  TURRIALBA; MICROEMPRESAS, MUJERES  EMPRENDEDORAS, ASOCIACIONES Y  ORGANIZACIONES
      </p>
    </div>
  </section>

  <section class="about__vision">
    <div class="about__image">

      @defer {
      <img src="" alt="sd" class="about__image-content">
      } @placeholder {
      <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">DESCRIPCIÓN DEL PROYECTO</h1>
      <p class="about__description">Este proyecto pretende fortalecer el sector de la microempresa,  mujeres emprendedoras y organizaciones comunales,  localizadas en el área de influencia del Recinto de Turrialba , a  través de talleres, los cuáles contribuyan al mejoramiento de la  gestión empresarial y potencialicen  las fortalezas de cada  negocio para lograr un mayor crecimiento.</p>
    </div>
  </section>

  <section class="about__objectives">
    <div class="about__image">

      @defer {
      <img src="" alt="sd" class="about__image-content">
      } @placeholder {
      <span class="spinner"></span>
      }
    </div>
    <div class="about__content">
      <h1 class="about__title">IMPACTO DEL PROYECTO</h1>
      <p class="about__description">Promover una cultura de buenas prácticas en la gestión empresarial, através de la  adquisición de nuevos conocimientos y herramientas del área de administración de  negocios, además, el desarrollo de nuevas habilidades como el manejo de  dispositivos tecnológicos, programas, aplicaciones, entre otros.
      </p>
    </div>
  </section>





  


  <app-timeline></app-timeline>


  <section class="about__projects">
    <div class="projects__description">
      <h1 class="projects__description-title">Proyectos</h1>
      <p class="projects__description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas cum expedita
        ex molestiae deserunt, tempore rem dicta nesciunt aut quia tenetur asperiores eveniet at, debitis laudantium in
        quidem, sapiente qui.</p>
    </div>
    @defer {
      <app-carousel-projects></app-carousel-projects>
      } @placeholder {
      <span class="spinner"></span>
      }
  </section>


</main>
