:host {
  height: 100%;
  width: 100%;
}

.timeline {
  /* --color: #fff; */
  /* --bgColor: #308db2; */
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: var(--color-secondary);
  padding: 2rem;
  margin-top: 1rem;
  background-color: var(--color-primary);
}

.timeline__list {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: 100%;
  /* gap: 2rem; */
}

.timeline__list::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: var(--color-secondary);
  /* [uede ser ahora vemos si lo cmabmsos */
  border-radius: calc(var(--line-w) / 2);
}

.event {
  margin-bottom: 2rem;
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0 0 1rem 1rem;
  background-color: var(--color-primary);
}

.event__content {
  padding: 5rem 2rem;
}

.event__date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--color-secondary);

  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  z-index: 999;

  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.08);

}

.event__date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--color-secondary);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

.event__date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--color-primary);
  border: 0.3rem solid var(--color-secondary);
  border-radius: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

@media (min-width: 700PX) {
  .timeline__list {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }


  .timeline__list::before {
    grid-column: 2;
  }

  .event:nth-child(odd) {
    grid-column: 1;
  }

  .event:nth-child(even) {
    grid-column: 3;
  }

  .event:nth-child(2) {
    grid-row: 2/4;
  }

  .event:nth-child(odd) .event__date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .event:nth-child(odd) .event__date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }

  .event:nth-child(odd) .event__date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

.feature {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  color: #000;
  border-radius: 0 0 1rem 1rem;
}

.feature__header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid var(--bgColor);
}

.feature__header {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.feature__description {
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: lighter;
}


.feature__title
{
  padding-bottom: 0.8rem;
  border-bottom: 2px solid var(--color-secondary);
}
