<div class="timeline">
  <ul class="timeline__list">

    <li class="event event--highlighted">
      <div class="event__date">11 enero 2023</div>
      <div class="feature">
        <section class="feature__header">
          <i class="feature__icon bi bi-bookmark-fill"></i>
          <h1 class="feature__title">Reunion con empresarios de Santa Cruz</h1>
        </section>
        <p class="feature__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic
          quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</p>
      </div>
    </li>


    <li class="event event--highlighted">
      <div class="event__date">11 enero 2023</div>
      <div class="feature">
        <section class="feature__header">
          <i class="feature__icon bi bi-bookmark-fill"></i>
          <h1 class="feature__title">Reunion con empresarios de Santa Cruz</h1>
        </section>
        <p class="feature__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic
          quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</p>
      </div>
    </li>

    <li class="event event--highlighted">
      <div class="event__date">11 enero 2023</div>
      <div class="feature">
        <section class="feature__header">
          <i class="feature__icon bi bi-bookmark-fill"></i>
          <h1 class="feature__title">Reunion con empresarios de Santa Cruz</h1>
        </section>
        <p class="feature__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic
          quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</p>
      </div>
    </li>

    <li class="event event--highlighted">
      <div class="event__date">11 enero 2023</div>
      <div class="feature">
        <section class="feature__header">
          <i class="feature__icon bi bi-bookmark-fill"></i>
          <h1 class="feature__title">Reunion con empresarios de Santa Cruz</h1>
        </section>
        <p class="feature__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic
          quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</p>
      </div>
    </li>

    <li class="event event--highlighted">
      <div class="event__date">11 enero 2023</div>
      <div class="feature">
        <section class="feature__header">
          <i class="feature__icon bi bi-bookmark-fill"></i>
          <h1 class="feature__title">Reunion con empresarios de Santa Cruz</h1>
        </section>
        <p class="feature__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic
          quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</p>
      </div>
    </li>

    <li class="event event--highlighted">
      <div class="event__date">11 enero 2023</div>
      <div class="feature">
        <section class="feature__header">
          <i class="feature__icon bi bi-bookmark-fill"></i>
          <h1 class="feature__title">Reunion con empresarios de Santa Cruz</h1>
        </section>
        <p class="feature__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic
          quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</p>
      </div>
    </li>

    <li class="event event--highlighted">
      <div class="event__date">11 enero 2023</div>
      <div class="feature">
        <section class="feature__header">
          <i class="feature__icon bi bi-bookmark-fill"></i>
          <h1 class="feature__title">Reunion con empresarios de Santa Cruz</h1>
        </section>
        <p class="feature__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic
          quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</p>
      </div>
    </li>
  </ul>
</div>
