body{
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
  scroll-behavior: smooth;
}


body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #b3b3b3;
  margin: 8rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-primary);
  border: 1.5px solid #efefef;
}
